$Primary-color1:hsl(237, 18%, 59%);
$Primary-color2:hsl(345, 95%, 68%);
$Neutral-color1:hsl(0, 0%, 100%);
$Neutral-color2:hsl(236, 21%, 26%);
$Neutral-color3:hsl(235, 16%, 14%);
$Neutral-color4:hsl(234, 17%, 12%)  ;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}